<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="watch.css"rel="stylesheet" >
    <title>stopwatch</title>
    
</head>
<body>
  <div class="container">
    <div class="time">
        00 : 00 : 00 : 00
    </div>
    <ul class="laps"></ul>
    <div class ="action">
        <button id ="start" onclick="start()">start</button>
        <button id ="pause" onclick="pause()">pause</button>
        <button id ="reset" onclick="reset()">reset</button>
        <button id ="lap" onclick="lap()">lap</button>
    </div>
  </div>
  <script src="watch.js"></script>
</body>
</html>